.cardContainer {
  height: 100%;
  width: 600px;
  margin-top: 130px;
  background-color: burlywood;
  border-radius: 10px;
}

.cardHeaderContainer {
  text-align: center;
  padding: 0.5rem;
  background-color: cadetblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardHeader {
  font-size: 1.5rem;
}