.faceImage {
  height: 80px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .faceImage {
    animation: faceImage-spin infinite 5s linear;
  }
}

@keyframes faceImage-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

