.loginContainer {
  background-color: burlywood;
  height: 600px;
  width: 800px;
}

.loginNav {
  background-color: cadetblue;
  text-align: center;
  width: 100%;
  height: 80px;
}

.loginNavBtn {
  margin: 30px;
}

.form {
  text-align: center;
}

.formInput {
  margin: 10px;
}